{%extends 'all_pixxies/base.html'%}
{% block content %}
<div class="container" style="background-image:url('')">

  <div class="row">
    {% if photoz %}
    <h3 class="text-center" style="margin-top: 20px; margin-bottom: 20px;">Found {{ photoz|length }} of searched term {{message}}</h3>
    {% else %}
    <h2> The category {{message}} does not exist </h2>
    {% endif %}

  </div>

  <div class="row">
    {% if photoz %}
    {% for photo in photoz %}
    <div class="col-sm-6 col-md-3">
      <p> {{photo.title}} </p>
      <img src="{{photo.image_url.url}}" width="100%" height="300px" alt="">
    </div>
    {% endfor %}
    {% endif %}
  </div>

</div>
{% endblock %}